In [3]:
print('hello')
print('comment ça va ?')

hello
comment ça va ?

In [5]:
import pandas as pd

In [6]:
x='hello world'
print("The variable has the value:",x)

The variable has the value: hello world

In [7]:
x=4

In [8]:
print("The variable has the value:",x)

The variable has the value: 4

In [10]:
camelCase = 'mixed case'
snake_case = 'word separated by underscore'

In [11]:
t_dictionary = {'Peugeot': 306, "Mercedes-Benz": "C220", "Audi": "A4"}
print(t_dictionary)

{'Peugeot': 306, 'Mercedes-Benz': 'C220', 'Audi': 'A4'}

In [12]:
t_nested_dict = [

                    {
                        "state": "Florida",
                        "shortname":"FL",
                        "Info": {"governor": "Rick Scott"},
                        "Counties": [ 
                            {"name": "Dade", "population": 12345}, 
                            {"name": "Broward", "population": 40000},
                            {"name": "Palm Beach", "population": 60000},
                        ],
                    },
                    {
                        "state": "Ohio",
                        "shortname": "OH",
                        "info": {"governor":"John Kasich"},
                        "counties": [
                            {"name": "Summit", "population": 1234}, 
                            {"name": "Cuyahoga", "population": 1337},
                        ],
                    },
                ]
print(t_nested_dict)

[{'state': 'Florida', 'shortname': 'FL', 'Info': {'governor': 'Rick Scott'}, 'Counties': [{'name': 'Dade', 'population': 12345}, {'name': 'Broward', 'population': 40000}, {'name': 'Palm Beach', 'population': 60000}]}, {'state': 'Ohio', 'shortname': 'OH', 'info': {'governor': 'John Kasich'}, 'counties': [{'name': 'Summit', 'population': 1234}, {'name': 'Cuyahoga', 'population': 1337}]}]

In [13]:
t_tuple = ('This', 'is', 'a', 'tuple.') 
print(t_tuple)

('This', 'is', 'a', 'tuple.')

In [14]:
import pandas as pd
data = {
    "City": ['Paris', 'Lyon', 'Bordeaux'],
    "Population": [2161000, 513275, 249712]
}
t_dataframe = pd.DataFrame(data) 
print(t_dataframe)

       City  Population
0     Paris     2161000
1      Lyon      513275
2  Bordeaux      249712

In [15]:
cartes = ['Infinite', 'Platinium', 'Gold', 'Classic']
for carte in cartes:
    print(carte)

Infinite
Platinium
Gold
Classic

In [16]:
montant = 0
plafond = 100
while montant < plafond:
    print(montant) 
    montant += 10

0
10
20
30
40
50
60
70
80
90

In [17]:
montant_compte = 50 
if montant_compte < -500:
    print("Compte en contentieux")
elif montant_compte < 0:
    print("Compte débiteur")
else: 
    print("Compte créditeur")

Compte créditeur

In [18]:
def check_account_statut (montant_compte):
    if montant_compte < -500: 
        statut='Compte en contentieux'
    elif montant_compte < 0:
        statut="Compte débiteur"
    else:
        statut='Compte créditeur'
    return statut

In [20]:
montants = [123,456,-4789,0]
for amount in montants:
    account_status = check_account_statut(amount)
    print(account_status)

Compte créditeur
Compte créditeur
Compte en contentieux
Compte créditeur

In [21]:
import pandas as pd
import os
import glob

In [22]:
nasdaq_top_companies = [
    {
        "Ticker": "AAPL",
        "Company": "Apple Inc.",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 150.00,
        "Description": "Share price for Apple Inc. in September 2021"
    },
    {
        "Ticker": "MSFT",
        "Company": "Microsoft Corporation",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 300.00,
        "Description": "Share price for Microsoft Corporation in September 2021"
    },
    {
        "Ticker": "AMZN",
        "Company": "Amazon.com Inc.",
        "Industry": "E-commerce",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 3400.00,
        "Description": "Share price for Amazon.com Inc. in September 2021"
    },
    {
        "Ticker": "GOOGL",
        "Company": "Alphabet Inc. (Google)",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 2700.00,
        "Description": "Share price for Alphabet Inc. in September 2021"
    },
    {
        "Ticker": "FB",
        "Company": "Meta Platforms, Inc. (Facebook)",
        "Industry": "Social Media",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 330.00,
        "Description": "Share price for Meta Platforms, Inc. in September 2021"
    }
]
# Load dict to DataFrame
df_nasdaq=pd.DataFrame(nasdaq_top_companies)

In [23]:
df_nasdaq

,Ticker,Company,Industry,Market Cap,Share_Price,Description
0,AAPL,Apple Inc.,Technology,Trillion Dollars,150.0,Share price for Apple Inc. in September 2021
1,MSFT,Microsoft Corporation,Technology,Trillion Dollars,300.0,Share price for Microsoft Corporation in Septe...
2,AMZN,Amazon.com Inc.,E-commerce,Trillion Dollars,3400.0,Share price for Amazon.com Inc. in September 2021
3,GOOGL,Alphabet Inc. (Google),Technology,Trillion Dollars,2700.0,Share price for Alphabet Inc. in September 2021
4,FB,"Meta Platforms, Inc. (Facebook)",Social Media,Trillion Dollars,330.0,"Share price for Meta Platforms, Inc. in Septem..."

In [24]:
cac40_data = [
    {
        "Ticker": "AC",
        "Company": "Accor",
        "Share_Price": 35.60
    },
    {
        "Ticker": "AI",
        "Company": "Air Liquide",
        "Share_Price": 147.80
    },
    {
        "Ticker": "MT",
        "Company": "ArcelorMittal",
        "Share_Price": 28.90
    },
    {
        "Ticker": "BNP",
        "Company": "BNP Paribas",
        "Share_Price": 53.20
    },
    {
        "Ticker": "CAP",
        "Company": "Capgemini",
        "Share_Price": 140.45
    },
]
# Load dict to DataFrame
cac40_data=pd.DataFrame(cac40_data)

In [25]:
cac40_data

  Ticker        Company  Share_Price
0     AC          Accor        35.60
1     AI    Air Liquide       147.80
2     MT  ArcelorMittal        28.90
3    BNP    BNP Paribas        53.20
4    CAP      Capgemini       140.45

In [26]:
os.mkdir(r'./MARKET_DATA/')

In [30]:
def CreateCsvFile(df, PrefixName: str):
    '''
    The function CreateCsvFile enables to create multiple csv files by tickers 
    from a dataframe and a prefix as the filename.
    '''
    for ticker in df['Ticker']:
        pathName = r'./MARKET_DATA/'+ str(PrefixName) +str(ticker)+'.csv'
        df[df['Ticker']==ticker].to_csv(pathName, index=False)
    return None

In [27]:
car_brand = ['Peugeot', 'Audi', 'Mercedes']
car_model = ['306', 'A4','C220']

In [28]:
for brand, model in zip(car_brand, car_model):
    print(brand)
    print(model)

Peugeot
306
Audi
A4
Mercedes
C220

In [33]:
CreateCsvFile(df_nasdaq, 'NASDAQ_')
CreateCsvFile(cac40_data, 'CAC40_')

In [35]:
# Assign the folder to parse
pathFolder = r'.\MARKET_DATA'
# Parse the folder
walkFolder = [path[0] for path in os.walk (pathFolder)]
# Initialize list
listOfFile = []
# Loop on the folder
for folder in walkFolder:
    # Assign folder path
    folderName = os.path.basename(folder)
    # Assign folder path joined to a file type searched
    files = os.path.join(folder, 'NASDAQ_*.csv')
    # Store the file path matching the file type searched
    listOfFile = glob.glob(files)

In [36]:
# Initialize list
full_list = []
# Loop on all files
for file in listOfFile:
    # Import data to a Dataframe
    full_file = pd.read_csv(file, dtype = str).reset_index(drop = True)
    # Assign the file path to the file_name columns
    full_file['file_name']=os.path.basename(file)
    # Append the DataFrame to the list initialized
    full_list.append(full_file)
# Merge the list of DataFrames to a single DataFrame
fileConcat = pd.concat(full_list)